.pageButton,
.pageButtonActive {
  margin: 0 4px;
  padding: 8px 12px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
}
.pageButtonActive {
  border-radius: 4px;
  background-color: var(--whiteText);
  border: 1px solid var(--primary);
  color: var(--primary);
}
