* {
  padding: 0;
  margin: 0;
  box-sizing: "border-box";
}

:root {
  --primary: #a61d33;
  --secondary: #edf7ed;
  --whiteText: #fff;
  --dark: #000;
  --garyText: #666666;
  --garyLight: #fafafa;
  --backgroundGray: #f3f3f3;
}
